<div class="justify-content-between mt-5">
    <h2 class="fw-bold">A broad selection of courses</h2>
    <p>Choose from 155,000 online video courses with new additions published every month</p>
</div>

<div class="row">
    <div class="col">
        <nav class="nav">
            <a class="nav-link active text-dark fw-bold" aria-current="page" href="#">Python</a>
            <a class="nav-link text-secondary fw-bold" href="#">Excel</a>
            <a class="nav-link text-secondary fw-bold" href="#">Web Development</a>
            <a class="nav-link text-secondary fw-bold" href="#">JavaScript</a>
            <a class="nav-link text-secondary fw-bold" href="#">Data Science</a>
            <a class="nav-link text-secondary fw-bold" href="#">AWS Certification</a>
            <a class="nav-link text-secondary fw-bold" href="#">Drawing</a>
          </nav>
    </div>
</div>
<div class="row mb-4">
    <div class="col border p-4">
        <h4 class="fw-bold">Expand your career opportunities with Python</h4>
        <p class="w-50">Whether you work in machine learning or finance, or are pursuing a career in web development or data science, Python is one of the most important skills you can learn. Python's simple syntax is especially suited for desktop, web, and business applications. Python's design philosophy emphasizes readability and usability. Python was...</p>
        
        <button type="button" class="btn btn-outline-dark rounded-0 fw-bold mb-5">Explore Python</button>

        <div class="row">
        <div class="col-md-3">
            <div class="card border-0" style="width: 14rem;">
                <img src="https://img-c.udemycdn.com/course/240x135/1830530_7f5a_3.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <a href="" class="text-decoration-none text-dark">
                        <h6 class="card-title fw-bold">Komple ASP.NET Web Geliştirme Eğitimi|62 Saat|2019</h6>
                    </a>
                    <p class="my-0"><small class="text-muted">Engin Demiroğ</small></p>
                    <p class="card-text text-warning fw-bold my-0">4.7
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                        <small class="text-muted fw-light">(26.756)</small>
                    </p>
                    <p class="card-text fw-bold">₺27,99 <small
                            class="text-muted fw-light text-decoration-line-through"> ₺219,99</small></p>
                            <span class="badge bg-warning text-dark">Bestseller</span>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card border-0" style="width: 14rem;">
                <img src="https://img-c.udemycdn.com/course/240x135/1830530_7f5a_3.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <a href="" class="text-decoration-none text-dark">
                        <h6 class="card-title fw-bold">Komple ASP.NET Web Geliştirme Eğitimi|62 Saat|2019</h6>
                    </a>
                    <p class="my-0"><small class="text-muted">Engin Demiroğ</small></p>
                    <p class="card-text text-warning fw-bold my-0">4.7
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                        <small class="text-muted fw-light">(26.756)</small>
                    </p>
                    <p class="card-text fw-bold">₺27,99 <small
                            class="text-muted fw-light text-decoration-line-through"> ₺219,99</small></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card border-0" style="width: 14rem;">
                <img src="https://img-c.udemycdn.com/course/240x135/1830530_7f5a_3.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <a href="" class="text-decoration-none text-dark">
                        <h6 class="card-title fw-bold">Komple ASP.NET Web Geliştirme Eğitimi|62 Saat|2019</h6>
                    </a>
                    <p class="my-0"><small class="text-muted">Engin Demiroğ</small></p>
                    <p class="card-text text-warning fw-bold my-0">4.7
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                        <small class="text-muted fw-light">(26.756)</small>
                    </p>
                    <p class="card-text fw-bold">₺27,99 <small
                            class="text-muted fw-light text-decoration-line-through"> ₺219,99</small></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card border-0" style="width: 14rem;">
                <img src="https://img-c.udemycdn.com/course/240x135/1830530_7f5a_3.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <a href="" class="text-decoration-none text-dark">
                        <h6 class="card-title fw-bold">Komple ASP.NET Web Geliştirme Eğitimi|62 Saat|2019</h6>
                    </a>
                    <p class="my-0"><small class="text-muted">Engin Demiroğ</small></p>
                    <p class="card-text text-warning fw-bold my-0">4.7
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                        <small class="text-muted fw-light">(26.756)</small>
                    </p>
                    <p class="card-text fw-bold">₺27,99 <small
                            class="text-muted fw-light text-decoration-line-through"> ₺219,99</small></p>
                            
                <span class="badge bg-warning text-dark">Bestseller</span>
                </div>
            </div>
        </div>
        </div>
        
    </div>
</div>