<div class="row">
            
    <h4 class="fw-bold mb-4">Top categories</h4>
</div>

<div class="row mb-4">

    <div class="col-md-3">
        <div class="card border-0" style="width: 18rem;">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-design-v2.jpg" class="card-img-top">
                <h6 class="card-title fw-bold mt-2">Design</h6>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-0" style="width: 18rem;">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-development-v2.jpg" class="card-img-top">
                <h6 class="card-title fw-bold mt-2">Development</h6>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-0" style="width: 18rem;">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-marketing-v2.jpg" class="card-img-top">
                <h6 class="card-title fw-bold mt-2">Marketing</h6>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-0" style="width: 18rem;">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-it-and-software-v2.jpg" class="card-img-top">
                <h6 class="card-title fw-bold mt-2">IT and Software</h6>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-0" style="width: 18rem;">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-personal-development-v2.jpg" class="card-img-top">
                <h6 class="card-title fw-bold mt-2">Personel Development</h6>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-0" style="width: 18rem;">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-business-v2.jpg" class="card-img-top">
                <h6 class="card-title fw-bold mt-2">Business</h6>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-0" style="width: 18rem;">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-photography-v2.jpg" class="card-img-top">
                <h6 class="card-title fw-bold mt-2">Photography</h6>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-0" style="width: 18rem;">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-music-v2.jpg" class="card-img-top">
                <h6 class="card-title fw-bold mt-2">Music</h6>
        </div>
    </div>
</div>